{
  "extends": "react-app",
  "rules": {
    "react/self-closing-comp": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-pascal-case": [
      "error"
    ],
    "import/first": 0,
    "react/jsx-boolean-value": 0,
    "react/no-string-refs": 0,
    "react/jsx-closing-bracket-location": 0,
    "no-mixed-operators": [
      "error"
    ],
    "no-useless-escape": [
      "error"
    ],
    "no-fallthrough": [
      "error"
    ],
    "spaced-comment": 0,
    "quotes": 0,
    "semi": 0,
    "no-restricted-globals": 0,
    "no-unused-vars": [
      "error"
    ],
    "no-multi-spaces": [
      "error"
    ],
    "react/sort-comp": [
      "error"
    ],
    "eqeqeq": [
      "error"
    ],
    "no-lone-blocks": 0,
    "jsx-quotes": 0,
    "array-callback-return": 0,
    "no-script-url": 0,
    "jsx-a11y/href-no-hash": 0,
    "no-unreachable": [
      "error"
    ],
    "no-dupe-class-members": [
      "error"
    ],
    "no-useless-constructor": [
      "error"
    ],
    "no-labels": [
      "error"
    ],
    "no-unused-labels": [
      "error"
    ],
    "no-unused-expressions": [
      "error"
    ],
    "jsx-a11y/alt-text": 0,
    "react/jsx-space-before-closing": 0
  }
}
